[2017-06-15 14:27] westonruter opened #1 "Add readme to run npm install"
It was broken when I first installed it, and I found I had to run `npm install` to get it to work.

[2017-06-15 14:38] westonruter opened #2 "Add syntax checking"
Can syntax validation be enabled? It would be very helpful for users when editing PHP, JS, or CSS to know whether or not it has syntax errors.

Once that is active, on the theme and plugin editor screens, we should prevent saving the file if there are syntax errors. Likewise, for custom CSS in the customizer we should mark the setting as invalid to prevent it from being published.

See also https:

[2017-06-29 16:56] georgestephanis commented on #1
I believe this should be fixed via e8f84e81aad6e4733aabd85b6ce210cf12aadb67

[2017-06-29 16:56] #1 closed

[2017-06-29 18:39] georgestephanis opened #4 "Prune off registration of unused CodeMirror libraries, so we can get a feel for how many would actually need to be bundled."

[2017-06-30 18:28] melchoyce opened #5 "Editor width doesn't account for extra space"
The inclusion of the line numbers increases the overall width of the editor, so it cuts into the list of files on the side:

**With:**

![image](https://user-images.githubusercontent.com/2846578/27749137-4325efde-5da0-11e7-85cf-cc322655c01e.png)

**Without:**

![image](https://user-images.githubusercontent.com/2846578/27749188-87ac65e8-5da0-11e7-8635-d7f0424aed9d.png)

The editor should remain the

[2017-07-06 18:34] #2 closed

[2017-07-06 18:35] georgestephanis opened #6 "Pull the css, js linters locally instead of cloud hosted variants."

[2017-07-06 20:03] WraithKenny opened #7 "Use npm to import CodeMirror instead of submodule"
Since you require npm building CodeMirror anyway, maybe it'd make sense to use npm to install it instead? Or even a nice Gulp script to concatenate, minify, and move into a non-modules location?

[2017-07-06 20:10] WraithKenny commented on #7
Or is this because you need to bundle the source code for GPL reasons?

[2017-07-06 20:18] WraithKenny commented on #4
Would they still be available (packaged with core) so that plugins could add them?

[2017-07-06 20:33] georgestephanis commented on #4
If they merged in, yeah.

On Jul 6, 2017 4:19 PM, "Ken Newman" <notifications@github.com> wrote:

[2017-07-07 05:18] westonruter opened #8 "Apply CodeMirror to the Text tab in the WP content editor"
Should also apply to editors that are instantiated via `wp.editor.initialize()`, such as the Text widget.

[2017-07-07 05:21] westonruter opened #9 "Integrate with Custom HTML widget in WP 4.9-alpha"

[2017-07-07 05:21] westonruter opened #10 "Integrate with Text mode in Gutenberg editor"
See https://github.com/WordPress/gutenberg/issues/1733

[2017-07-10 17:23] westonruter commented on #10
Let's de-prioritize this for now.

[2017-07-10 17:24] westonruter commented on #8
Let's de-prioritize this for now.

[2017-07-13 13:55] karmatosed opened #11 "Warning vanishes when on smaller screen"
I was doing some testing on various screen sizes and discovered an oddity. This is what I see on desktop:

![1](https://user-images.githubusercontent.com/253067/28169753-372afbf8-67db-11e7-98fa-b3c14610fa10.png)

Yet, as soon as I reduce the screen size this happens:

![1nondesktop](https://user-images.githubusercontent.com/253067/28169768-41fa089e-67db-11e7-9a1d-6544b06ee59c.png)

The warnings ar

[2017-07-13 14:01] melchoyce commented on #5
Related: https://core.trac.wordpress.org/ticket/41309 cc @karmatosed

[2017-07-13 14:09] karmatosed opened #12 "Is HTML meant to have no code coloring?"
This may be the desired case but struck me as to why it has no coloring. Maybe I am trained by editor color schemes, but looking at this page compared to other ones made me think the plugin was broken.

![2017-07-13 at 15 08](https://user-images.githubusercontent.com/253067/28170404-3f052afe-67dd-11e7-8531-11a3107c1842.png)

[2017-07-13 14:49] karmatosed opened #13 "Can pace be slowed of warnings and errors?"
One thing I noticed when using this for example in Additional CSS, was how fast the warnings/errors appear. It really was as soon as I was typing. It got me thinking about how not everyone types as fast as it may be expecting. Could some delay be added?

![2](https://user-images.githubusercontent.com/253067/28172206-da37d81e-67e2-11e7-910d-bb1eb16dd190.png)

![2a](https://user-images.githubusercon

[2017-07-13 14:52] karmatosed opened #14 "Error message doesn't go away for a while despite empty content"
This is almost the other side of the 'can it be slower on checking', but it's important as when there is no information to feedback on, the message shouldn't linger. It currently lurks around for a while.

![3](https://user-images.githubusercontent.com/253067/28172363-412bdcaa-67e3-11e7-89a6-1a552592163a.png)

[2017-07-13 19:41] westonruter commented on #14
Yes. This server-sent message should be replaced with the client-side live messages. Basically the server-side syntax checking would be eliminated entirely in favor of client side checks. This would be done as part of the core merge, however.

[2017-08-01 10:50] paaljoachim opened #16 "Access to all files unlimited folder depth within the selected theme or plugin"
At present going to the edit screen to edit for instance style.css or the functions.php works fine as these are usually in the root folder. Files one level deep will likely show up.

Having stylesheets within assets/css/something.css  I assume because it is deeper then one level that it does not show up in the edit screen. This means I am not able to edit the something.css because of the lack of a

[2017-08-01 21:33] paaljoachim opened #17 "A way to link the customizer code editor with the edit themes/plugins editor"
At the beginning of a brainstorm...

We have two edit areas.
In the edit screen for editing plugins and themes and the Additional CSS in the customizer.
I am thinking there should be a way to create a link between these areas. As one can edit CSS in both places. This means the user can add some CSS to the style.css of the theme and some CSS to the CSS area in the customizer.

I got to think about

[2017-08-01 21:43] westonruter commented on #17
@paaljoachim I suggest that there should be a notice added when opening the theme editor, to have a deep-link to the Additional CSS section in the Customizer.

Such a notice already appears, somewhat, in the plugin editor:

![image](https://user-images.githubusercontent.com/134745/28848358-7c329e04-76c7-11e7-8482-67f831785a1d.png)

Something should be done like when opening the old admin-based hea

[2017-08-01 21:52] westonruter commented on #16
This would be out of scope for this ticket. I believe you may be looking for: https://core.trac.wordpress.org/ticket/6531

[2017-08-01 21:52] #16 closed

[2017-08-01 22:09] paaljoachim commented on #16
Thanks! Hopefully the trac issue can be dealt with and fixed.

[2017-08-02 19:30] melchoyce commented on #12
Able to reproduce. Let's make sure the HTML styles are loaded, too.

[2017-08-02 19:33] melchoyce commented on #13
Yeah, this is kind of alarming. Let's see if we can delay this error.

[2017-08-06 05:46] #14 closed

[2017-08-09 01:40] #12 closed

[2017-08-11 12:06] westonruter commented on #9
I'm working on this. It's almost ready for review.

[2017-08-11 21:08] westonruter commented on #9
Please review: #21

[2017-08-11 21:10] obenland commented on #11
I've spent a good amount of time today, trying to track that down. Currently it looks to me like this is a CodeMirror bug. Linen umbers are part of the core package and work differently than the rest of the information that is being displayed in the gutter. I'll try to dig deeper to find out

[2017-08-11 21:11] kenashworth opened #22 "MS Monaco Consideration"
https://github.com/Microsoft/monaco-editor/labels/accessibility
https://github.com/Microsoft/vscode/labels/accessibility

The Monaco Editor seems to be WCAG compliant, and both teams track against accessibility (Monaco is derived from VSCode). It looks harder to integrate (because I've been working with CodeMirror for 6 years) and I think is a larger codebase, but being actually WCAG compliant mig

[2017-08-11 21:23] kenashworth commented on #22
https://github.com/Microsoft/monaco-editor/wiki/Monaco-Editor-Accessibility-Guide
https://github.com/Microsoft/monaco-editor/wiki/Accessibility-Guide-for-Integrators

Some guides for Accessibility when using and integrating

[2017-08-11 21:34] kenashworth commented on #22
Drawback is it doesn't work on mobile(?)

[2017-08-13 00:45] #9 closed

[2017-08-13 07:35] westonruter commented on #7
@WraithKenny how's #23 look?

[2017-08-13 07:44] westonruter opened #24 "Decide on which modes and themes should be bundled with core"
There are about 120 modes that CodeMirror ships with: https://github.com/codemirror/CodeMirror/blob/5.28.0/mode/meta.js#L15-L168

The vast majority of these modes are not relevant to the kinds of types that will be modified in WordPress. Which ones should be included? At least there should be:

* `css`
* `htmlembedded`
* `htmlmixed`
* `javascript`
* `php`
* `sql`
* `xml`

But then what about:

* `

[2017-08-13 08:35] WraithKenny commented on #7
I can test it out tomorrow, but sounds good to me :-)

[2017-08-14 05:48] #7 closed

[2017-08-14 17:07] joyously opened #26 "Align warnings and error support level with core"
I looked at the style.css of Twenty Fifteen once I installed the codemirror plugin, and it warns of several styles not supported by IE6 or IE7. That's great, but WordPress no longer supports those, so shouldn't it only flag the problems that align with what core is supporting?

[2017-08-14 17:34] joyously opened #27 "Are color schemes modifiable?"
When I first went to the theme editor, I checked a small PHP file and saw that if I messed up an angle bracket for a HTML tag, it would show something in red.

Then I switched to look at the CodeMirror plugin file in the plugin editor, and saw lots of red. It looks like all strings are shown in red. But really it's not the same red. I just thought it was all red. Perhaps there shouldn't be several

[2017-08-14 17:46] westonruter commented on #27
There are multiple themes included in CodeMirror, and #24 actually is to discuss which ones we should include in core. I think @melchoyce has some thoughts on improving the style as well.

[2017-08-14 17:49] melchoyce commented on #24
Let's only include one theme in core by default, but consider making (or encourage someone else to make) a plugin that lets you swap them. I'll take a look at them this week and propose a default 👍

[2017-08-14 17:50] melchoyce commented on #27
Thanks for the feedback, it'll help as I look through the color schemes CodeMirror provides to find a default to include in core.

If you find any other weird style things, continue to post them in here — I am going to look at restyling minor parts to make them both more WordPress-y and more usable.

[2017-08-14 19:31] joyously commented on #27
OK, but part of my question alluded to being able to change the color scheme with a plugin. I wondered if it is just a matter of loading a different file (like styles), or if it's more complicated. (just to make sure it's filterable)

[2017-08-14 19:38] joyously opened #28 "copy/paste error in inline docs"
In the `load_plugin_editor_php` function, the inline docs for the filter are incorrect, where it mentions a theme.
[code]

[2017-08-14 21:10] kenashworth commented on #24
Ambiance is my personal fav.

[2017-08-14 21:13] kenashworth commented on #24
Markdown (and maybe github flavored markdown) might be good to include too

[2017-08-15 06:16] rianrietveld opened #29 "Add option to enable/disable Codemirror"
The accessibility team has concerns about the implementation of this functionality by default, as we expressed previously in ticket https://core.trac.wordpress.org/ticket/12423.

- Our main concern is that Codemirror is not accessible for screen reader users.
- There should be an option to enable/disable Codemirror by the user, to fall back to the current (fully accessible) plain text mode.
- In t

[2017-08-15 15:55] melchoyce commented on #27
Yeah, I think we should be able to swap out color schemes. I'd like to see us either make, or encourage someone else to make ( 😆 ), a plugin to do so.

[2017-08-15 16:50] melchoyce commented on #29
Thanks @rianrietveld, I'll add some opt-out design ideas in here.

Where in the Customizer CSS panel and the code editors would you expect to find this checkbox?

[2017-08-15 16:57] melchoyce commented on #29
Alternately — would you expect this checkbox to live somewhere else entirely, like user settings?

[2017-08-16 08:59] SergeyBiryukov commented on #29
Maybe an "Enable accessibility mode" link in Screen Options, like on Widgets screen?

[2017-08-16 09:20] rianrietveld commented on #29
@SergeyBiryukov yeah, that's an idea for the theme/plugin editor, not sure about the "Enable accessibility mode", maybe just "disable syntax highlighter"?
Although this would not solve the issue for the customizer.

What about adding it to the the user settings (your profile) as it has more checkboxes for customisation like _Disable the visual editor when writing_ and such (or will those settings

[2017-08-16 12:35] samikeijonen commented on #29
Screen options is kind of hard to find. I didn't even know there was accessibility mode for widgets couple months ago.

User profile seems better idea next to Disable visual editor like Rian mentioned.

Good idea.

[2017-08-16 14:45] westonruter commented on #29
I know that @afercia wants to get rid of the "accessibility mode" screen option for widgets. I like the setting being on the user profile screen like the opt-out setting exists for the visual editor.

[2017-08-16 15:09] melchoyce commented on #29
I thought about screen options at first too, but it turns out none of the pages that contain code editors have them.

User setting + notification letting folks know they can disable on each Editor screen seems like a good idea 👍

[2017-08-16 17:11] westonruter commented on #29
I'll open a PR with this.

[2017-08-16 17:19] melchoyce commented on #29
Cool. I'm thinking, in user settings:

![image](https://user-images.githubusercontent.com/2846578/29376111-73a7daaa-8285-11e7-94b3-94c60f44ab36.png)

Does that make sense?

[2017-08-16 17:20] samikeijonen commented on #29
I'm not sure does it have to say _if you're using a screen reader_. I rather not point out some group of people.

[2017-08-16 17:28] melchoyce commented on #29
I'm fine with removing the second sentence if it feels too much like singling out a particular group 👍

We should also remove the period from the end to match the other settings.

[2017-08-16 17:47] #28 closed

[2017-08-16 17:51] westonruter commented on #29
Please review #31.

[2017-08-16 19:21] cedon commented on #29
I'm not a fan of having screen reader users be the ones to jump through an extra hoop though. Having opt-out makes them do just that.

I would prefer it be an opt-in on the screen @melchoyce posted. Maybe add a one-time announcement to the editor too, hidden from screen readers(?), that allows them to enable it from there when they use it for the first time.

[2017-08-16 19:26] westonruter commented on #29
If it is opt-in then the vast majority of users who would benefit from the new feature would likely never encounter it, since I'll wager most users aren't visiting their profile frequently to discover new settings to tweak (also given, “[Decisions, not options](https://wordpress.org/about/philosophy/)”). Since the majority of users would benefit from having syntax highlighting/checking, I think it

[2017-08-16 19:38] melchoyce opened #32 "Scroll jank in the Customizer"
![css](https://user-images.githubusercontent.com/2846578/29381943-fc3cab94-8298-11e7-9d15-8a18b6ad5ea6.gif)

[2017-08-16 19:55] westonruter commented on #32
I can reproduce this in Firefox only. It does not occur in Chrome or Safari.

[2017-08-16 20:01] westonruter commented on #32
This is reported upstream: https://github.com/codemirror/CodeMirror/issues/3705

[2017-08-16 20:11] cedon commented on #29
@westonruter That's why I also suggested the one-time announcement thing that pops up on initial use. That way it draws attention to the fact this feature exists.

Under normal circumstances, I would be in favor of it being opt-out. But since it's an accessibility issue, I would rather err on the side of assistive technology users having the path of least resistance. It's kind of like a business p

[2017-08-16 20:14] westonruter commented on #5
@melchoyce I don't think this is a problem. The main difference between the two editors, actually, is that CodeMirror does not wrap lines whereas a `textarea` does. We could enable `lineWrapping` option and that results in:

![image](https://user-images.githubusercontent.com/134745/29383274-b0772522-8284-11e7-9a7c-3f83b02c836a.png)

I'll also note that adding line-wrapping is a workaround fix for

[2017-08-16 20:18] westonruter commented on #29
BTW: the one-time announcements are called “pointers” in WP.

What if there was a one-time pointer announcing syntax highlighting, which then instructs how to _opt-out_?

Note that the pointer wouldn't help in either case for new installs, as pointers normally only appear upon upgrading.

[2017-08-16 20:22] cedon commented on #29
Can it be set to show on first use of the editor as well?

Once the accessibility issues are resolved it should definitely go to opt-out though.

[2017-08-16 20:26] westonruter commented on #29
CodeMirror is not being proposed here for the post editor yet. For that we wait for Gutenberg and CodeMirror accessibility issues being resolved.

[2017-08-17 06:54] rianrietveld commented on #29
A few things:
- I'm in favour of an opt out here. It's not vital WP functionality, a lot of coders will love it and I agree with @westonruter that users don't visit their profile often to discover it. But a sentence in on the CSS customiser page and some text on the theme/plugin editors on how to disable it will be useful.
- I wouldn't focus on screen reader users only, probably also other people

[2017-08-17 07:31] rianrietveld commented on #29
Thanks @westonruter for the PR and the merge.
Propose for the help text something like:

And make `disable the code syntax highlighter` a link to the settings page.

Location:
- in the help text of themes and plugins
- in the help under the question mark with the CSS customizer

[2017-08-17 11:50] rianrietveld commented on #29
@westonruter
Is it useful to open this again? Because still some help text needs to be added.

[2017-08-17 14:21] melchoyce commented on #29
I might switch around the order of your sentence:

[2017-08-17 14:43] cedon commented on #29
If it's just going to be the code editor on the back end, than an opt out would be fine in that case. Here's a best-of-both-worlds thought... could something be added to `wp-config.php` to flag it as off on a fresh  install? Something like `define( 'DISALLOW_SYNTAX_HIGHLIGHT', true );` ?

Also, would having `define( 'DISALLOW_FILE_EDIT', true );` disable it as well?

[2017-08-18 06:57] westonruter commented on #29
@rianrietveld @melchoyce Please review: #34

[2017-08-18 07:11] westonruter commented on #29
I don't really see a compelling reason for adding a new constant to configure this. If the feature truly is to be disabled for all users, then this could be implemented via a plugin which could filter `get_user_metadata` for the `syntax_highlighter` key and always return `'false'`, along with hiding the option in the user profile screen via `.user-syntax-highlighting-wrap { display:none; }`.  Or a

[2017-08-18 07:14] westonruter opened #35 "Revisit CodeMirror filters"
There are currently filters for `theme_editor_codemirror_opts`, `plugin_editor_codemirror_opts`, and `customizer_custom_css_codemirror_opts`. By returning a falsey value from any of these filters, it will cause CodeMirror to not be displayed on the related screen. There is no such filter for the Custom HTML widget. Moreover, the short-circuit via these filters is not the same as short-circuiting v

[2017-08-18 14:26] melchoyce commented on #32
Weird, I was testing in Chrome /shrug

[2017-08-18 14:27] melchoyce commented on #5
Line-wrapping is good 👍 But the extra width is still a problem — notice in my before/after how the editor starts to run very close to the file list.

[2017-08-18 14:29] melchoyce commented on #5
![image](https://user-images.githubusercontent.com/2846578/29463242-0a431a1c-8400-11e7-8d7d-8f635c8223ab.png)

[2017-08-18 16:57] westonruter commented on #5
Oh I see now. Fixed in https://github.com/WordPress/codemirror-wp/pull/33/commits/74859d1f4e8b8474e792475b86ba54527393241d via #33.

[2017-08-18 16:58] #5 closed

[2017-08-18 16:58] #32 closed

[2017-08-18 18:13] #29 closed

[2017-08-18 20:56] melchoyce commented on #24
Color schemes all demo'd here: http://codemirror.net/demo/theme.html

[2017-08-18 21:22] melchoyce commented on #24
These are the color schemes I think are the most legible and attractive:
- http://codemirror.net/demo/theme.html#default
- http://codemirror.net/demo/theme.html#base16-dark
- http://codemirror.net/demo/theme.html#bespin
- http://codemirror.net/demo/theme.html#elegant
- http://codemirror.net/demo/theme.html#material
- http://codemirror.net/demo/theme.html#xq-light

I'm thinking we should either go

[2017-08-18 22:25] melchoyce opened #36 "Update Additional CSS help text"
The help text is currently pretty hard to read. Thinking we should rewrite & reorganize, and split into a couple paragraphs. Worked with @michelleweber to come up with this:

------

Add your own CSS code here to customize the appearance and layout of your site. [Learn more about CSS](#).

When using a keyboard:
- In the CSS edit field, Tab enters a tab character.
- To move keyboard focus, press E

[2017-08-18 22:45] westonruter opened #37 "Improve accessibility of CodeMirror in Custom HTML widget and theme/plugin editors"
Once keyboard focus is inside of CodeMirror, it is trapped and cannot be escaped. A fix for this has been implemented for CodeMirror in the Customizer's Additional CSS (see #34) by allowing a user to hit `ESC` followed by `Tab` or `Shift`+`Tab` to move forward or behind. The same thing needs to be implemented for CodeMirror.

Alternatively, maybe there is already a way in CodeMirror to escape from

[2017-08-18 22:50] westonruter commented on #29
Please see #37 for follow-up questions on accessibility.

[2017-08-21 15:11] obenland commented on #13
It can be slowed but I'm not sure what a good threshold would be. It's almost certain that you'll run into that again, even if we delayed it.

[2017-08-22 04:11] westonruter commented on #6
Also fixed by #23.

[2017-08-22 04:11] #6 closed

[2017-08-22 04:14] westonruter commented on #13
What do IDEs like PhpStorm do?

Maybe the error should have a 1-second denounced delay while typing but then immediately show errors upon blur.

[2017-08-22 05:27] #11 closed

[2017-08-22 05:31] westonruter commented on #36
See also #37. Should similar accessibility messages and usage improvements be added to the Custom HTML widget and theme/plugin editors? At the moment CodeMirror for these is a keyboard trap.

[2017-08-22 06:00] westonruter commented on #13
Here's a proof of concept for something:

[code]

Naturally JS here needs to be refactored to apply to each place where CodeMirror is used. Also, it would probably be nice to `performLint` immediately after a `change` happens if there was a new linting error introduced, or maybe shorten the delay, so that a user gets faster feedback once they have fixed the issue.

[2017-08-22 06:02] westonruter commented on #13
Oh, there's also a `delay` option for the `lint` that could be used instead of the custom `debounce` here.

[2017-08-22 06:03] westonruter commented on #13
[code]

[2017-08-23 18:16] westonruter commented on #13
Also, instead of linting upon changing, it could be particularly helpful to lint upon hitting `Enter` or an arrow key, as that is somewhat of an indication that a user has “finished” what they were doing and would want feedback. So the `delay` could be set to 3 seconds, and then immediately `performLint` upon `blur` or when doing a keypress of ⬆️, ⬇️, or `Enter`.

[2017-08-23 22:28] melchoyce commented on #8
Going to close for now — we can reopen later if we want to explore, but we need to solve the accessibility issues first.

[2017-08-23 22:28] #8 closed

[2017-08-23 22:32] melchoyce commented on #22
@westonruter Any way we could figure out what they're doing to make it accessible, and then port that over to CodeMirror?

[2017-08-23 22:35] melchoyce commented on #36
We could add a Help tab to the Theme/Plugin Editor pages (they don't have one currently). The HTML widget is trickier — let me think about that more.

[2017-08-24 04:39] westonruter commented on #22
I think CodeMirror is going to win out regardless because of its much longer history (since 2011 instead of 2016), number of contributors (586 vs 17)  and releases (109 vs 13) and stability (5.28.0 vs 0.10.0). So I think that CodeMirror should just look itself at any benefits that MS Monaco is doing. For our part, we _are_ using CodeMirror's `contentEditable` mode which _is_ better for compatibili

[2017-08-24 04:39] #22 closed

[2017-08-24 17:36] melchoyce opened #41 "Consider updating the Code Editor design"
Last night I took a stab at redesigning the Theme and Plugin code editors to match some of Gutenberg's new design patterns. I don't expect us to get around to this during 4.9, since I imagine it'll take a bit of work (and we probably shouldn't match Gutenberg's design before Gutenberg is out), but I thought it could be fun to bring an updated design to match the new syntax highlighting we'll be in

[2017-08-25 05:13] westonruter commented on #37
The `Esc` plus `Tab` is actually already advised on the Theme and Plugin editors:

![image](https://user-images.githubusercontent.com/134745/29700439-54d8b802-8919-11e7-9b51-d3cfb68cff8c.png)

So this is the right approach.

[2017-08-25 05:13] westonruter commented on #36
@melchoyce are you sure regarding the Theme/Plugin Editor pages? I see this:

![image](https://user-images.githubusercontent.com/134745/29700414-2baa3618-8919-11e7-8bbf-ab5e8a5a456c.png)

![image](https://user-images.githubusercontent.com/134745/29700419-35f32db4-8919-11e7-95ec-7b7ac01d4c9b.png)

[2017-08-25 07:19] #37 closed

[2017-08-25 13:49] melchoyce commented on #36
Hah... yes. I guess I was remembering screen options from another conversation. 😅

[2017-08-25 17:35] westonruter commented on #36
Cool. So then I think the only thing needed is to incorporate the same kind of help text into the Custom HTML widget.

[2017-08-25 17:40] melchoyce commented on #36
Yeah, unsure what's best there. Open to ideas.

[2017-08-25 17:48] westonruter commented on #36
I mean, we could just throw it in with a `screen-reader-text` like we're doing for the `Content:` label:

[code]

But this help text would have value for general keyboard users as well, not just those who use screen readers.

[2017-08-25 17:49] melchoyce commented on #36
@rianrietveld how do you feel about this? ^

[2017-08-25 19:46] melchoyce opened #44 "Replace lint warning icon with dashicon"
Let's replace it with `dashicon-warning` ([this one](https://developer.wordpress.org/resource/dashicons/#warning), or [here as an svg](https://github.com/WordPress/dashicons/blob/master/sources/svg/warning.svg)), colored `#F6A306`.

Tempted to use it regardless of how many warnings something might have, so instead of these two icons we only use one:

![image](https://user-images.githubusercontent.

[2017-08-25 20:08] melchoyce opened #45 "Redesign error states"
Top is before, bottom is after:

![image](https://user-images.githubusercontent.com/2846578/29730730-6b980142-89af-11e7-8f30-d0614738954e.png)

Seem okay, or too subtle?

[2017-08-25 20:08] melchoyce commented on #44
<img src="https://user-images.githubusercontent.com/2846578/29730776-a1cffd50-89af-11e7-8c80-1125c9222d6a.png" width="112" />

[2017-08-25 22:54] westonruter commented on #17
@melchoyce could you source some design and language for notices to display on the theme and plugin editors to display persistently on both?

Also, could you provide direction for how we should style the Update File button when there are reported linting errors? Maybe there should be a checkbox to confirm? Or an old-school `confirm` dialog?

[2017-08-25 23:35] melchoyce commented on #17
Conveniently enough, I worked on that today :) That conversation is over in https://core.trac.wordpress.org/ticket/31779, though I'd love to merge these two somehow. @helen, would you have any interest in working on these notices in GitHub, or would you prefer to stay on Trac and in SVN?

Does CodeMirror distinguish at all between suggestions and errors? Wondering if we could block people from sav

[2017-08-26 02:23] westonruter commented on #17
@melchoyce

Great! I was just going to ask about adding a link to Additional CSS in the Customizer, and I see you've [accounted for that](https://core.trac.wordpress.org/ticket/31779#comment:41).

Yes, I believe we can block just in the case of errors.

[2017-08-26 06:27] rianrietveld commented on #36
@melchoyce @westonruter
I agree that the text would be useful for keyboard users and Dragon users as well and they don't get that info when it's hidden by screen-reader-text.
Also, when you want to do it this way, the help text need to be attached to the label with `aria-describedby`.

Maybe we are overcomplicating things. Adding this to a help tab on top of the screen, would be the most logical,

[2017-08-26 06:40] #26 closed

[2017-08-26 06:41] westonruter commented on #35
Fixed by #38 where there is now a single `wp_code_editor_settings` filter.

[2017-08-26 06:41] #35 closed

[2017-08-26 09:23] westonruter opened #48 "Add PHP linter"

[2017-08-26 09:25] westonruter opened #49 "Disallow saving when errors are present"
Particularly important for files in theme/plugin editor .

Also consider the same for Additional CSS and Custom HTML widget.

[2017-08-26 15:13] westonruter opened #50 "Add autocomplete hinting"
Ideally there would be a dropdown with hinting suggestions that appears when typing, though it seems CodeMirror only supports showing `ctrl`+`space` by default to show the dropdown.

[2017-08-26 15:22] westonruter commented on #50
This is working pretty well:

[code]

[2017-08-26 15:23] westonruter commented on #50
![image](https://user-images.githubusercontent.com/134745/29742644-cb2edc1a-8a37-11e7-8362-7b303071628d.png)

[2017-08-26 15:24] westonruter commented on #50
Sourced from: https://stackoverflow.com/a/33021864/93579

A problem with this is the autocomplete list is showing too aggressively. It should only be shown after typing letter, not Tab. Also, hitting `Esc` should maybe close the autocomplete suggestions.

[2017-08-27 03:28] westonruter commented on #50
- [x] Need to make sure that autocompletion for Additional CSS in the Customizer doesn't clash with autocomplete for Custom HTML widget.

[2017-08-27 07:48] #50 closed

[2017-08-27 08:14] westonruter commented on #4
I enabled a slew of add-ons in #52.

[2017-08-27 15:33] westonruter opened #53 "Add translations for linting messages"
The linters don't have translations for the errors and warnings they report. Those should be added.

[2017-08-28 05:06] westonruter opened #55 "Combine wp_code_editor_settings() into wp_enqueue_code_editor()"
For the post editor, there is just `wp_enqueue_editor()`. The code editor currently has a `wp_enqueue_code_editor()` function that takes a `$settings` arg which has the configuration for the desired editor, which is then used to determine which scripts and styles get enqueued. The `$settings` array is generated by `wp_code_editor_settings()`. However, having two separate functions may not make sen

[2017-08-28 05:15] westonruter opened #56 "Improve styling for matchBrackets"
When the cursor is touching a bracket, the corresponding bracket gets highlighted via the `matchBrackets` addon:

![image](https://user-images.githubusercontent.com/134745/29759959-dd56464c-8b74-11e7-94d7-5f44b1893b83.png)

The lime color is probably not ideal. Maybe it should be styled the same as the `matchTags` addon:

![image](https://user-images.githubusercontent.com/134745/29760011-3e88abc6-

[2017-08-28 08:04] westonruter opened #60 "Add CSSLint rule to apply safecss_filter_attr()"
The `safecss_filter_attr()` function is used by KSES to filter HTML `style` attributes, removing any properties that are illegal. This should be applied to CSS and `style` attributes in HTML, so that any illegal properties are flagged as such.

It seems that HTMLHint is not currently applying CSSLint to `style` attributes, but if it did, then a `kses` rule added to CSSLint could then apply to both

[2017-08-28 17:00] #56 closed

[2017-08-28 17:18] #44 closed

[2017-08-28 17:18] #45 closed

[2017-08-28 17:29] westonruter commented on #36
This line needs to be tweaked:

To be instead:

[2017-08-28 17:38] westonruter opened #64 "Add inline help for Custom HTML widget"
Builds off of #36.

See conversation at https://wordpress.slack.com/archives/C02RP4X03/p1503940071000037

For the immediate term we'll put the help text in a new help tab. But once we have design input on how best to do inline help, we can then move the help text into the widget itself.

[2017-08-28 18:18] #36 closed

[2017-08-28 18:49] westonruter commented on #53
I'm not sure if this is going to be feasible to resolve since the underlying linting tools probably would need to be enhanced to add translatability.

[2017-08-29 04:16] westonruter commented on #48
An initial linter could be one that uses the clike tokenizer in CodeMirror to ensure there are balanced braces.

[2017-08-29 21:19] westonruter opened #67 "Add JS-based asset loader"
As noted in #66, the `wp.codeEditor` in JS should be able to dynamically load assets for the given settings, including the scripts and styles for the selected modes and addons.

[2017-08-29 21:32] #4 closed

[2017-08-30 00:16] westonruter commented on #55
The addition of a `type` context param was added in #66.

[2017-08-30 00:20] westonruter commented on #24
I've removed all the themes from being bundled, leaving only the default. A plugin can bundle those themes to enqueue as desired. I've also added the modes I think make sense. See #66.

[2017-08-30 00:20] #24 closed

[2017-08-30 00:26] westonruter commented on #27
Yes, loading a different style is just a matter of enqueueing another stylesheet that supplies a theme. I've added a `wp_enqueue_code_editor` action in #68 for this purpose.

[2017-08-30 00:26] #27 closed

[2017-08-30 20:11] westonruter commented on #48
For a server-side PHP linter, see https://github.com/WordPress/better-code-editing/pull/3/commits/1ff1bceaaec8531d72689f1c40b69a89d20f5cd8

This had to be revered because the approach will not work on many hosts due to security restrictions.

[2017-08-30 20:11] westonruter commented on #48
We could possibly implement a lightweight linter in PHP that uses CodeMirror's tokenizer to do brace matching.

[2017-08-30 20:47] westonruter opened #70 "Add fullscreen mode"
For Additional CSS in the Customizer and the Custom HTML widget, there is a problem with screen real estate. CodeMirror has a [fullscreen](https://codemirror.net/demo/fullscreen.html) mode which could be handy in such cases.

Needs design for how to invoke full-screen mode, and/or a shortcut key.

[2017-08-30 20:48] westonruter opened #71 "Consider concatenating all CodeMirror scripts into a single bundle"
See conversation at https://wordpress.slack.com/archives/C02RQBWTW/p1504125705000161

[2017-08-30 23:28] #49 closed

[2017-08-30 23:29] westonruter commented on #49
See screenshots on #69.

[2017-08-30 23:30] westonruter commented on #17
This has been implemented in #49.

[2017-08-30 23:30] westonruter commented on #67
Or rather, concatenate all CodeMirror scripts into one. See #71 .

[2017-08-30 23:33] westonruter commented on #13
This has essentially been implemented in #69, though it's the error notice about not being able to save that is deferred until blur instead of the error indicators in the gutter.

[2017-08-30 23:47] westonruter opened #72 "Ensure RTL support"
- [ ] Should gutter remain on left side of editor? Code is always LTR?

[2017-08-31 00:41] aaronjorbin opened #73 "Fatal error upon activation"
I cloned this into wp-content/plugins.  When I activated the plugin, my site stopped working.
`Fatal error: Uncaught UnexpectedValueException: RecursiveDirectoryIterator::__construct(/srv/www/wordpress-develop/public_html/src/wp-content/plugins/better-code-editing/wp-includes/js/codemirror): failed to open dir: No such file or directory in /srv/www/wordpress-develop/public_html/src/wp-content/plug

[2017-08-31 05:11] westonruter commented on #73
@aaronjorbin please use a release build either on WordPress.org or among releases on GitHub: https://github.com/WordPress/better-code-editing/releases

To install the plugin from source, follow the instructions here: https://github.com/WordPress/better-code-editing/blob/master/contributing.md#getting-started

[2017-08-31 05:12] westonruter commented on #73
That being said, the plugin could check if `wp-includes/js/codemirror` exists and if not, prompt the user to run `npm install`.

[2017-08-31 05:21] #73 closed

[2017-08-31 15:34] aaronjorbin opened #75 "In Chrome, browser based search doesn't search file contents"

[2017-08-31 15:39] aaronjorbin commented on #75
Not all of the file is actually searched when using the browser based search.

![code-editing-search mov](https://user-images.githubusercontent.com/622599/29932025-11b009b8-8e41-11e7-9426-c5236d32d568.gif)

[2017-08-31 18:19] westonruter commented on #75
@aaronjorbin CodeMirror has a search addon: https://codemirror.net/demo/search.html

Including that should solve this problem, yes?

[2017-08-31 18:36] westonruter commented on #71
Not all addons use a config value to opt-in to them being enabled for a given editor. The search add-on in #76, for example. That would complicate adding all addons in a single bundle.

[2017-08-31 19:03] westonruter commented on #72
Theme/plugin editor fail:

![image](https://user-images.githubusercontent.com/134745/29940516-6057684c-8e44-11e7-8299-1621069bc183.png)

[2017-08-31 19:04] westonruter commented on #72
Additional CSS fail:

![image](https://user-images.githubusercontent.com/134745/29940593-998eff12-8e44-11e7-9783-87179429550c.png)

[2017-08-31 19:07] westonruter commented on #72
Custom HTML widget in Customizer fail:

![image](https://user-images.githubusercontent.com/134745/29940653-bf48c4ae-8e44-11e7-9b51-979e45fd551b.png)

[2017-08-31 19:08] westonruter commented on #72
Custom HTML widget on widgets admin page is… pass? There seems to be an overall RTL issue for the screen in general, however:

![image](https://user-images.githubusercontent.com/134745/29940746-0c786cd4-8e45-11e7-816f-79004a6af0a2.png)

[2017-09-01 18:06] westonruter opened #78 "Selecting autocomplete hint options via mouse not reliable"
When you select an autocomplete hint option from the dropdown via mouse, a couple things aren't right:

1. The list item doesn't have the blue highlight upon hovering or clicking that you get when using arrow keys. This actually seems to be an issue in CodeMirror itself, as if you type `o` and then `ctrl+space` at https://codemirror.net/demo/complete.html you likewise do not get the expected item

[2017-09-01 19:20] Presskopp commented on #78
Thank you for opening the ticket, you have the better words on all this. I want to add that when you click an option in the dropdown, it won't be inserted, if your cursor is between { and }. If you only have one { open, it will work.

[2017-09-04 15:24] #75 closed

[2017-09-04 17:39] westonruter opened #79 "Auto-expand Additional CSS section description when CSS is empty"
To help orient users to what Additional CSS is, the section description could be auto-expanded when first opening the panel, when the CSS is empty or at its placeholder value. The help text was improved in #36 via #65.

![image](https://user-images.githubusercontent.com/134745/30035260-08b0c0ae-915d-11e7-97d0-fa1df4873cde.png)

A close button could be added for a user to dismiss the description, s

[2017-09-04 17:40] westonruter commented on #36
See also #36 which suggests auto-expanding section description when first visiting the panel or when the CSS is empty.

[2017-09-04 17:40] westonruter commented on #36
See also #79 which suggests auto-expanding section description when first visiting the panel or when the CSS is empty.

[2017-09-04 18:31] arniebradfo commented on #10
Maybe I could help out on this when you reprioritize it.

I maintain a plugin called the [HTML Editor Syntax Highlighter](https://github.com/mukhortov/HESH-WordPress-Plugin). I've written a custom Codemirror syntax mode that highlights everything in the post/page text editor:
- htmlmixed:
  - html
  - css
  - js
- shortcodes `[squarebrackets/]` syntax
- WP specific things:
  - ``
  - ``
  - etc...

[2017-09-04 19:55] westonruter commented on #10
@arniebradfo hi! I can see that I actually reached out to you yesterday on the support forum on this topic: https://wordpress.org/support/topic/html-editor-syntax-highlighter-codemirror-being-added-to-core-in-4-9/

I agree, extending the `htmlmixed` mode with support for highlighting shortcodes and WordPress-specific comments would be really useful in WordPress, even though the post editor isn't a

[2017-09-04 21:22] #72 closed

[2017-09-05 00:40] #55 closed

[2017-09-05 20:23] melchoyce opened #83 "Additional CSS line count should be narrower"
Despite only having one digit per line, the line count is quite wide:

<img src="https://user-images.githubusercontent.com/2846578/30081738-600b32b8-9256-11e7-9812-74810b2710e8.png" width="300" />

[2017-09-05 20:24] melchoyce commented on #79
I'm game. Let's try a right-aligned "Close" link on the bottom right of the description.

[2017-09-05 23:02] westonruter commented on #83
@melchoyce the gutter width is to give room for the error/warning icons.

[2017-09-06 00:23] melchoyce commented on #83
Does it need that much space? And are the theme/plugin editors different because the php files aren't being linted yet?

![image](https://user-images.githubusercontent.com/2846578/30089025-1304abe4-9278-11e7-8d83-aa21b681387b.png)

[2017-09-06 00:44] westonruter commented on #83
@melchoyce yes, that's right. There isn't a linter for PHP yet (#48) so the gutter is not present.

[2017-09-06 00:52] melchoyce commented on #83
Okay 👍

Any way we could still tighten up the space a bit?

[2017-09-06 00:53] melchoyce commented on #13
Any way we can enhance it further by not showing the "this rule is empty" for CSS stuff until you're outside of the brackets? It's super distracting to try to write something and have the warning pop up before I even have a chance to type anything.

[2017-09-06 03:59] westonruter commented on #83
Probably, but it would require some CodeMirror research. Help wanted.

[2017-09-06 20:51] westonruter opened #85 "Add PHP unit tests"

[2017-09-06 21:45] kenashworth commented on #41
Related: https://core.trac.wordpress.org/ticket/6531

(Would effect the nesting level.)

[2017-09-06 22:24] westonruter commented on #41
Also related: https://core.trac.wordpress.org/ticket/24048 (Increase the usability of Plugin Editor's files list (separate directories, limit height))

[2017-09-07 05:18] westonruter commented on #13
We could just disable the “empty rule” rule?

[2017-09-07 15:50] obenland commented on #13
I think that makes sense

[2017-09-07 15:57] melchoyce commented on #13
WFM 👍 Not like empty rules will break anything.

[2017-09-07 16:27] kenashworth commented on #83
CodeMirror takes the number columns width right from the CSS, so adding `.CodeMirror-linenumber { min-width: 1px; }` would shrink it as much as is possible (without clipping the numbers). The column will grow with number of digits in the largest line number automatically.

(Additionally you can shave off a few more pixels with padding on that class. `.CodeMirror-linenumber { min-width: 1px; paddin

[2017-09-08 00:10] westonruter commented on #48
Props to @rheinardkorf for finding http://glayzzle.com/php-parser/#demo !!

On GitHub: https://github.com/glayzzle/php-parser

I had previously stumbled across the https://github.com/glayzzle/php-linter project but it is empty. I didn't see the other project.

This holds great promise. The only icing on the cake here would be if the parser could be told which PHP version to use, but we could get a

[2017-09-08 05:45] #79 closed

[2017-09-08 06:07] #13 closed

[2017-09-08 06:54] rheinardkorf commented on #48
@westonruter it should be noted that *php-parser* in the demo uses an Abstract Syntax Tree to show the structure. It also has a token mode which returns an array compatible to `token_get_all`. In fact the author of php-parser suggest it strictly follows token_get_all.

(I personally like the AST)

[2017-09-10 17:28] samikeijonen opened #89 "?-help-button aria-expanded value"
In ?-help-button (Additional CSS section) there is `aria-expanded="false"`. But it doesn't change to `aria-expanded="true"` when opened and back to `aria-expanded="false"` when closed.

[2017-09-10 17:30] samikeijonen commented on #89
Also when help section is opened if the CSS is empty, value should be `aria-expanded="true"` at that point.

[2017-09-10 17:42] samikeijonen opened #90 "Keyboard focus when Help section is open"
I notices this keyboard navigation in Additional CSS.

1. Help section is open.
1. I'm inside CSS fields (writing CSS).
1. I press Esc + Shift + Tab.
1. My focus moves to ?-help-button.

In my opinion it should move to last focusable item in the help section (Close button in this case).

If the help section is closed, then focus should move to ?-help-button.

[2017-09-10 18:41] westonruter commented on #90
Good point. The close button was added after the tab-precious logic was implemented so it is not being taken into account. Also I assumed the user would close the help description first, but clearly that's not the case.

[2017-09-11 00:03] westonruter commented on #89
@samikeijonen I think you may be looking at the wrong element. Look at `.customize-section-description` not `.customize-pane-child`.

Upon load Customizer:

![image](https://user-images.githubusercontent.com/134745/30254202-b8cc8d2e-9649-11e7-8e78-a1b2f5621562.png)

Upon clicking Close:

![image](https://user-images.githubusercontent.com/134745/30254216-ef63ac28-9649-11e7-87fb-c8c7faba8f0f.png)

W

[2017-09-11 00:03] #89 closed

[2017-09-11 00:24] westonruter commented on #70
This would partially resolve https://core.trac.wordpress.org/ticket/38707

There would need to be an icon button for editing in full screen mode.

[2017-09-11 00:48] #90 closed

[2017-09-11 03:46] westonruter commented on #78
Point 2 was fixed in #69. Point 1 is really an upstream issue that needs to be fixed in CodeMirror itself.

[2017-09-11 03:46] #78 closed

[2017-09-11 10:27] samikeijonen commented on #89
Ah ok, I try to open trac ticket for `.customize-pane-child` `aria-expanded` bug.

[2017-09-11 17:17] afercia commented on #89
Haven't checked live, just looking at the screenshot above, seems to me `aria-expanded` on a not-focusable div won't do anything useful. The toggle button needs to reflect the expandable panel state it relates to.

[2017-09-12 17:30] #67 closed

[2017-09-13 00:07] #71 closed

[2017-09-13 00:09] westonruter opened #93 "Include JSHint, CSSLint, and JSONLint in codemirror bundle?"
If these scripts are not going to be enqueued separately, there may be little value in having them as separate assets. The same goes for the `htmlhint-kses` script.

[2017-09-13 05:50] samikeijonen commented on #89
@westonruter Can you re-open this? When we checked ?-button in the Menu section for example, that button has correct `aria-expanded="false"` and `aria-expanded="true"` when toggling.

[2017-09-13 06:44] westonruter commented on #89
@samikeijonen please open a new defect Trac ticket. I just merged this plugin into trunk.

[2017-09-13 16:11] afercia commented on #89
@samikeijonen I'm working on a core patch which includes the aria-expanded fix, will update this comment adding the Trac ticket number when I'm done.

See https://core.trac.wordpress.org/ticket/41872

[2017-09-13 18:18] westonruter commented on #48
Moved to trac: https://core.trac.wordpress.org/ticket/41873

[2017-09-13 18:18] #48 closed

[2017-09-13 18:19] westonruter commented on #60
Moved to Trac: https://core.trac.wordpress.org/ticket/41874

[2017-09-13 18:19] #60 closed

[2017-09-13 18:20] westonruter commented on #85
Moved to Trac: https://core.trac.wordpress.org/ticket/41871

[2017-09-13 18:20] #85 closed

[2017-09-13 18:21] westonruter commented on #93
Moved to trac: https://core.trac.wordpress.org/ticket/41870

[2017-09-13 18:21] #93 closed

[2017-09-13 20:41] westonruter commented on #64
Moved to Trac: https://core.trac.wordpress.org/ticket/41876

[2017-09-13 20:41] #64 closed

[2017-09-13 20:46] westonruter commented on #17
Closing in favor of https://core.trac.wordpress.org/ticket/31779

[2017-09-13 20:46] #17 closed

[2017-09-14 01:43] samikeijonen commented on #89
Nice.

[2017-09-14 16:46] paaljoachim opened #95 "Update button disabled on error."
Hey

I installed the plugin and there seems to be an error in the style.css in a theme I have activated. It says "There is 1 error which must be fixed before you can save."

It would be better to give a soft alert in regards to errors but not turn off the Update File button. Give the user the control. So there is an error and it is up to the user to fix it. Let the user work around the error and g

[2017-09-14 16:54] paaljoachim opened #96 "How deep should it go?"
Hey

I am checking to see the depth of folders and files inside the Editor screen. En example:
Root - yes.
root/lib folder - yes
root/lib/woocommerce - no.

So it goes one folder deep.  How deep should it go? How is that decided?

[2017-09-14 19:15] afercia commented on #95
Looking at the theme demo site, I see one rule with a `textfield` property:
`[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}`

Interesting question: does CodeMirror supports vendors proprietary CSS properties and values? Fun 🙂

[2017-09-14 19:19] westonruter commented on #95
@afercia This CSS is not the problem. It can still be saved if I paste it into another stylesheet. Warnings don't cause the save to be blocked:

![image](https://user-images.githubusercontent.com/134745/30450786-cbcfb720-9946-11e7-82ac-f0455a644460.png)

@paaljoachim please scroll down to see if there is another error.

I think this highlights a needed enhancement and that is that the error notice

[2017-09-14 19:27] westonruter commented on #95
The `textarea` value for `-webkit-appearance` was recently reported upstream in CSSLint: https://github.com/CSSLint/csslint/issues/713

[2017-09-14 19:36] westonruter commented on #96
This is being discussed in https://core.trac.wordpress.org/ticket/6531

[2017-09-14 19:36] #96 closed

[2017-09-14 21:45] paaljoachim commented on #95
Btw the CSS is from the stylesheet of a Genesis child theme. They use a lot of compacted css in the beginning of their files so that it looks like it is minified.

I found the error almost in the bottom of the stylesheet. I had written ren instead of rem.

![testing-better-code-editing-error-found](https://user-images.githubusercontent.com/5323259/30456828-6b87362c-99a5-11e7-9d77-4f4d43c3fa10.gif)

[2017-09-14 22:01] westonruter commented on #95
Moved to Trac: https://core.trac.wordpress.org/ticket/41886

[2017-09-14 22:01] #95 closed

[2017-09-15 20:05] kenashworth opened #97 "Missed text on merge"
When the plugin was merged into core, a couple of 'better-code-editing' translation markers where missed in class-wp-customizer-manager.php

[2017-09-15 20:23] westonruter commented on #97
This is being resolved in a patch at https://core.trac.wordpress.org/ticket/41872

The GitHub project is now obsolete and tickets should be opened in Trac.

[2017-09-15 20:23] #97 closed